<table class="table wd-75">
  <thead>
    <tr>
      <th><%= t ".product_name" %></th>
      <th><%= t ".price" %></th>
      <th><%= t ".quantity" %></th>
      <th><%= t ".total_price" %></th>
      <th><%= t ".discount" %></th>
      <th><%= t ".total_price_with_discount" %></th>
    </tr>
  </thead>

  <% if order_present %>
    <tbody>
      <%= render "order_details/table" %>
      <tfoot>
        <td><%= t ".total_price" %></td>
        <td><%= product_unit @load_order.total_price, "$" %></td>
        <% if @load_order.status == "considering" %>
          <td><%= link_to t(".confirm"), order_detail_path(@load_order), method: :patch %></td>
          <td><%= link_to t(".destroy"), order_detail_path(@load_order), method: :delete %></td>
        <% end %>
    </tfoot>
    </tbody>
  <% else %>
    <tfoot>
      <td><%= t ".total_price" %></td>
      <td><%= product_unit "0", "$" %></td>
    </tfoot>
  <% end %>
</table>
