<table class="table wd-75">
  <thead>
    <tr>
      <th><%= t ".firstname" %></th>
      <th><%= t ".lastname" %></th>
      <th><%= t ".address_ship" %></th>
      <th><%= t ".total_product_order" %></th>
      <th><%= t ".status" %></th>
      <th><%= t ".total_price" %></th>
      <th><%= t ".settings" %></th>
    </tr>
  </thead>
  <tbody>
    <% current_user.orders.each do |order| %>
      <tr>
        <td><%= current_user.firstname %></td>
        <td><%= current_user.lastname %></td>
        <td><%= order.address_ship %></td>
        <td><%= order.order_number %></td>
        <td><%= status order.status %></td>
        <td><%= order.total_price %></td>
        <td>
          <%= link_to t(".detail"), order_detail_path(order) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
