<div class="col-lg-9">
  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag "http://placehold.it/900x350" %>
      </div>
    </div>
  </div>
</div>

<div class="row">
  <h1><%= t "product_name" %></h1>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <%= link_to image_tag("https://i1.wp.com/www.pcjar.com/wp-content/uploads/2017/03/LG-X-Power-2.jpg?resize=500%2C400&ssl=1"), "#" %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to t("item"), "#" %>
        </h4>
        <h5><%= t "price" %></h5>
        <p class="card-text"><%= t "content" %></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <%= link_to image_tag("https://i1.wp.com/www.pcjar.com/wp-content/uploads/2017/03/LG-X-Power-2.jpg?resize=500%2C400&ssl=1"), "#" %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to t("item"), "#" %>
        </h4>
        <h5><%= t "price" %></h5>
        <p class="card-text"><%= t "content" %></p>
      </div>
    </div>
  </div>
  <div class="col-lg-4 col-md-6 mb-4">
    <div class="card h-100">
      <%= link_to image_tag("https://i1.wp.com/www.pcjar.com/wp-content/uploads/2017/03/LG-X-Power-2.jpg?resize=500%2C400&ssl=1"), "#" %>
      <div class="card-body">
        <h4 class="card-title">
          <%= link_to t("item"), "#" %>
        </h4>
        <h5><%= t "price" %></h5>
        <p class="card-text"><%= t "content" %></p>
      </div>
    </div>
  </div>
</div>
