<div class="col-lg-9">
  <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
      <div class="carousel-item active">
        <%= image_tag "http://placehold.it/900x350" %>
      </div>
    </div>
  </div>
</div>

<%= will_paginate @product %>

<div class = "row">
  <% @products.each do |p| %>
    <div class="col-md-6 mt-20">
      <div class="list-group-item mt-20 text-center">
        <%= link_to image_tag(p.image), product_path(p) %>
      </div>
      <h3><%= t ".name" %>: <%= link_to p.name, product_path(p) %></h3>
      <h4><%= t ".price" %>: <%= product_unit p.price, "$" %></h4>
      <h4><%= t ".rate" %>: <%= product_unit p.rate, "star" %></h4>
    </div>
  <% end %>
</div>

<%= will_paginate @product %>
