<div class="row">
  <div class="list-group-item"><%= image_tag @product.image %></div>
    <h3><b><%= t ".product_name" %></b>: <%= @product.name %></h3>
    <h4><b><%= t ".price" %></b>: <%= product_unit @product.price, "$" %></h4>
    <h4><b><%= t ".size" %></b>: <%= product_unit @product.size, "cm" %></h4>
    <h4><b><%= t ".color" %></b>: <%= @product.color %></h4>
    <h4><b><%= t ".discount" %></b>: <%= product_unit @product.discount, "%" %></h4>
    <h4><b><%= t ".description" %></b>: <%= @product.description %></h4>
    <h4><b><%= t ".rate" %></b>: <%= product_unit @product.rate, t(".star") %></h4>
    <h5><%= link_to t(".add_to_cart"), cart_path(@product), method: :patch %></h5>
</div>
