<div class="row">
  <div class="list-group-item"><%= image_tag @product.image %></div>
    <h3><b><%= t ".product_name" %></b>: <%= @product.name %></h3>
    <h4><b><%= t ".price" %></b>: <%= product_unit @product.price, "$" %></h4>
    <h4><b><%= t ".size" %></b>: <%= product_unit @product.size, "cm" %></h4>
    <h4><b><%= t ".color" %></b>: <%= @product.color %></h4>
    <h4><b><%= t ".discount" %></b>: <%= product_unit @product.discount, "%" %></h4>
    <h4><b><%= t ".description" %></b>: <%= @product.description %></h4>
    <h4><b><%= t ".average_rate" %></b>: <%= product_unit average_rating(@product), t(".star") %></h4>
    <% if load_rating @product %>
      <h4><b><%= t ".your_rate" %></b>: <%= product_unit load_rating(@product).rating, t(".star") %></h4>
    <% end %>
    <div class="ratings">
      <% (1..5).each do |star| %>
        <% if load_rating @product %>
          <%= link_to (fa_icon "star"), rating_path(@product, star), id: "rating-#{star}", remote: true, method: :patch %>
        <% else %>
          <%= link_to (fa_icon "star"), rate_path(@product, star), id: "rating-#{star}", remote: true, method: :patch %>
        <% end %>
      <% end %>
    </div>
    <% if stocking @product %>
      <h5><%= link_to t(".add_to_cart"), cart_path(@product), remote: true, method: :patch %></h5>
    <% else %>
      <h2><b><%= t ".out_of_stock" %></b></h2>
    <% end %>
</div>
