<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to t(".shop_name"), root_path, class: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t(".home"), root_path %></li>
        <% if current_user %>
          <% if current_user.role == Settings.auth.admin.role %>
            <li><%= link_to t(".orders_of_user"), admin_orders_url %></li>
          <% end %>
          <li>
            <%= link_to "#{t(".cart")}(#{current_user.product_carts.count})", carts_path %>
          </li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">
              <%= t ".account" %> <b class="caret"></b>
            </a>
            <ul class="dropdown-menu">
              <li><%= link_to t(".profile"), "#" %></li>
              <li><%= link_to t(".orders"), orders_path %></li>
              <li><%= link_to t(".settings"), "#" %></li>
              <li class="divider"></li>
              <li>
                <%= link_to t(".logout"), logout_path, method: :delete %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to t(".cart"), carts_path %></li>
          <li><%= link_to t(".log_in"), login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
