<div class="col-lg-3">
  <div class="list-group">
    <li class="list-group-item"><%= link_to t("smartphone"), "#" %></li>
    <li class="list-group-item"><%= link_to t("laptop"), "#" %></li>
    <li class="list-group-item"><%= link_to t("desktop"), "#" %></li>
    <li class="list-group-item"><%= link_to t("tablet"), "#" %></li>
    <li class="list-group-item"><%= link_to t("gadget"), "#" %></li>
    <li class="list-group-item"><%= link_to t("return_goods"), "#" %></li>
  </div>
</div>
